.card{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    backdrop-filter: blur(2px);
}
.flag{
    /* width: 80%;
    border-radius: 15px; */
  
    top: 0;
    height: 40%;
    width: 60%;
    object-fit: cover;
    border-radius: 1em;
}
h3, img,p{
    margin: 0.2em;
    padding: 0.3em;
}