.landing {
  /* background-image: url('../../assets/estrellas.jpg'); */
  background-image: url("../../assets/munnegro.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-around;
  /* background-color: #22325A; */
}
.title {
  color: #d9b07e;
  margin-top: 5em;
  width: 60%;
  text-align: center;
  font-size: large;
}
#initial {
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: #d9b07e;
  font-size: x-large;
  color: #0d232b;
}
.initial:hover {
  box-shadow: 2px 2px #3b36ce2e;
}
