.paginator{
    text-align: center;
    margin: 10px auto;
    width: 35%;
    /* background-color: #0f11407b; */
    border-radius: 1em;
    padding: 0.3em;
    color:#D6D9C1
}
.pageButton{
    background-color: #D6D9C1;
    color:#0F1140
}