.prueba{
    background-color: coral;
    height: 100vh;
}
.page{
   display: flex; 
   justify-content: space-around;
   width: 90%;
   color: #D6D9C1;
}
.buttonBack{
    background-color: rgb(151, 20, 20);
    padding: 0.2em 0.6em;
    font-size: larger;
    margin-top: 2em;
}
.countryDetails{
    width: 60%;
    border: 2px solid #D6D9C1;
    margin: 1em;
    text-align: center;
    font-size: large;
    border-radius: 1em;
}
.headerDetails,.contentDetails{
    display: flex;
    justify-content: space-evenly;
    margin: 0.5em;
}
#code{
    margin: 0.5em;
    padding: 1em;
    border-radius: 100%;
    background-color: #D6D9C1;
    color: #0F1140;   
}
#content{
    width: 100%;
}
h4{
    font-size: xx-large;
}
h5{
    margin: 0.2em;
    padding: 0.1em;
    font-size: larger;
}
.flagDetails{
    width: 40%;
    border-radius: 1em;
}
.activities{
    width: 40%;
    border: 2px solid #D6D9C1;
    margin: 1em;
    text-align: center;
}
.cardActivities{
    width: 50%;
    border: 2px solid black;
    margin: 0.2em;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
}
.closed{
    border: 2 solid black;
    width: 10%;
    font-size: small;
    background-color: red;
    margin: 0;
    padding: 0;
}