.titleActivities{
    margin: 0;
    padding-top:0.4em;
    font-size: xx-large;
    margin-bottom: 0;
    text-align: center;
    color:#F2F2F2;
    background-color: #0F1140;
}

form{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
label,input,select,option{
    font-size: large;
    margin: 0.3em;
}
.buttonBack{
    background-color: rgb(151, 20, 20);
    padding: 0.2em 0.6em;
    font-size: larger;
    margin-left:7em ;
    margin-top: 0.5em;
}
.buttonSubmit{
    margin: auto;
    background-color: aquamarine;
}

.buttonClear{
    background-color: rgb(15, 93, 54);
}
.msjError{
    background-color: rgba(221, 26, 26, 0.616);
    color: white;
    text-align: center;
    font-size: large;
    width: 100%;
    border-radius: 1em;
}